$gutter: 4px;
$width-input: 420px;

//  Font size
$font-face: 'Kanit', sans-serif;

// Color
$text-heading: #444;
$text-reader: #767676;
$border-color: #c8c8c8;
$ci-brand: #4b67ca;
$ci-manage: #f57c00;
$ci-delete: #E05139;
$ci-gray: #eee;
$ci-green: #00c977;


$border-radius: 2px;
